:root {
    --text-color:#1a1c28;
    --link-color:#4a76ee;
    --background-color:#eeeff1;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--background-color);
}

a{
    color:var(--link-color);
    text-decoration: none ;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/*Section 1-Hero*/
.hero{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   margin: 50px 0;
   margin-bottom: 100px;
   gap: 40px;
}

.hero .text{
    flex: 5;
}

.hero .text h2{
    font-size: 45px;
}

.hero .text .links{
    margin-top: 25px;
}

.hero .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}

.hero .text .links a :hover{
    color:var(--text-color);
    border: 2px solid var(--text-color);
}

.hero .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero .headshot img{
    width: 350px;
    border-radius: 50%;
}

/*Section 2-skills*/
.skills{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills h2{
    text-align: center;
    font-size: 35px;
}

.skills .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    margin: 10px;
    padding: 10px 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}
.skills .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}


@media(max-width: 863px){
    /*Section 1-Hero*/
    .hero .text h2{
        font-size: 35px;
    }  

}

@media(max-width: 752px){
    /*Section 1-Hero*/
    .hero {
        flex-direction: column-reverse;
    }  

    .hero .headshot img{
        width: 300px;
        
    }
}

@media(max-width: 600px){
    /*Navbar*/
    nav{
        padding: 0 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }

    /*Section 1-Hero*/
    .hero{
        padding: 0 20px;

    }
    .hero .text h2{
        font-size: 30px;
    }
}

@media(max-width: 740px){
    /*Navbar*/
    nav{
        padding: 0 10px;
    }

    nav .right a{
        font-size: 15px;
    }

    nav .left a{
        font-size: 15px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }
}

